@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');


body {
  margin: 50px; 
  color: #be4141ff;
  font-family: "EB Garamond", serif;
  font-size: 30px;
  border: 5px solid #be4141ff;
  padding-bottom: 1700px; 
}


.item {
  background-color: #be4141ff;
  padding-top: 5px;
  padding-bottom: 60px;
  text-align: center;
  height: 100px;
  color: white;
}


.description {
  width: 800px;
  height: 200px;
  border: 5px, #be4141ff;
  text-align: center;
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 100px;
}

.story {
  text-align: center;
  width: 800px;
  margin-left: 200px;
  margin-right: 100px;
  margin-top: 100px;
}

