@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');


body {
  margin: 50px; 
  color: rgb(206, 79, 79);
  font-family: "EB Garamond", serif;
  font-size: 30px;
  border: 5px solid rgb(206, 79, 79);
  padding-bottom: 1700px; 
}


.item {
  background-color: rgb(206, 79, 79);
  padding-top: 5px;
  padding-bottom: 60px;
  text-align: center;
  height: 100px;
  color: white;
}


.description {
  width: 800px;
  height: 200px;
  border: 5px,rgb(206, 79, 79);
  text-align: center;
  margin-top: 100px;
  margin-left: 250px;
  padding-left: 200px;
  margin-right: 100px;
}

.story {
  text-align: center;
  width: 800px;
  margin-left: 250px;
  margin-right: 100px;
  margin-top: 100px;
}

.back-btn {
  display: inline-block;
  padding: 10px 18px;
  font-size: 16px;
  font-weight: 50;
  background: rgb(206, 79, 79);
  color: white;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;
}